/*
 * Assignment 02
 * CSS FILE
 */

 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #023047;
}
 
.nav1 ul {
  text-decoration:underline;
  margin: 0;
  padding: 0;
}
nav a{
  text-decoration: underline;
  color: #0f1010;
  margin: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
 
.step1{
  background-color: #e5a4cd;
  color: #f3f5f6;
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}

 .Cleanse{
  border-radius: 20%;
  width: 60%;
  padding: 2rem;
 }

.exfoliate{
  border-radius: 25%;
  width: 60%;
  padding: 2rem;
}

.step2 {
  background-color: #e5a4cd;
  color: #f3f5f6;
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;

}

.serum{
  border-radius: 25%;
  width: 60%;
  padding: 2rem;
}

.step3{
  background-color: #e5a4cd;
  color: #f3f5f6;
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}

.moisturizer{
  border-radius: 25%;
  width: 60%;
  padding: 2rem;
}

.step4{
  background-color: #e5a4cd;
  color: #f3f5f6;
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}

.sunscreen{
  border-radius: 25%;
  width: 60%;
  padding: 2rem;
}

.step5{
  background-color: #e5a4cd;
  color: #f3f5f6;
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}

.step6{
  background-color: #e5a4cd;
  color: #f3f5f6;
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}

.webname {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: #eceff0;
  padding: 1rem;
  background-color: #e5a4cd;
}
 
.header{
  background-color: white;
  color: #020303;
  padding: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
 
h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.Skincare{
  border-radius: 15%;
  width: 50%;
}
h2{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
 
 
.tableofcontents{
 text-decoration: none;
  color: #f5f1f1;
  padding: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
 
.nav2 ul {
  text-decoration:underline;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
 
.nav2 a{
  text-decoration: none;
  color: #f0ecec;
  margin: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.intro{
  background-color: #e5a4cd;
  color: #faf6f6;
  padding: 2.5rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
 
.Face{
  border-radius: 15%;
  width: 65%;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}

.herosection{
  background-color: #e5a4cd;
  color: #ffffff;
  padding: 0.5rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
 
 
.footer{
display: flex;
  color: #f3f5f6;
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  border-radius: 2rem;
}
 
.form{
  background-color: #e5a4cd;
  color: #f3f5f6;
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
 
 
.copyright{
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #e5a4cd;
  color: white
}
 
